@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

// Общие стили для списков меню
@mixin menu {
  display: flex;
  flex-wrap: wrap;

  font-size: 16px;
  line-height: 24px;
}

@mixin menu-link {
  display: block;

  padding: 25px 20px;

  vertical-align: middle;

  color: $white;

  &:hover,
  &:focus {
    background-color: $medium-gray;
  }

  &:active {
    background-color: $dark-gray;
  }
}

@mixin title {
  margin: 0;
  
  font-size: 30px;
  line-height: 42px;
}

@mixin section {
  box-sizing: border-box;
  width: 380px;
}