.filters {
  width: 180px;
}

.filters__fieldset {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  border: 0;
}

.filters__title {
  margin-bottom: 29px;
}

.filters__list {
  @include reset-list;

  line-height: 18px;
}

.filters__item {
  margin-bottom: 19px;
  padding-left: 43px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filters__label {
  position: relative;

  cursor: pointer;
}

.filters__input {
  &:hover + .filters__label,
  &:focus + .filters__label {
    color: $brown;
  }

  &:disabled + .filters__label,
  &.disabled + .filters__label {
    color: $black;
  }

  &--checkbox {
    & + .filters__label::before {
      @include filter-input;
    }

    &:checked + .filters__label::after {
      position: absolute;
      top: 3px;
      left: -39px;

      width: 12px;
      height: 12px;

      content: '';

      background-image: url('/images/checkbox-checked.svg');
    }
  }

  &--radio {
    & + .filters__label::before {
      @include filter-input;

      border-radius: 50%;
    }

    &:checked + .filters__label::after {
      position: absolute;
      top: 5px;
      left: -37px;

      width: 8px;
      height: 8px;

      content: '';

      border-radius: 50%;

      background-color: $black;
    }
  }
}

.filters__btn {
  width: 112px;
}
