.gallery {
  width: 300px;

  color: $black;
}

.gallery__title {
  margin-bottom: 21px;

  letter-spacing: 0.7px;
}

.gallery__slider {
  margin-bottom: 39px;
}

.gallery__btn {
  @include btn-mr;
}