.appointment {
  width: 300px;

  color: $black;
}

.appointment__title {
  @include title;

  margin-bottom: 18px;

  letter-spacing: 0.7px;
}

.appointment__text {
  margin-bottom: 12px;

  letter-spacing: 0.1px;
}
