.btn {
  display: inline-block;

  box-sizing: border-box;

  width: 140px;

  padding: 0;
  padding: 10px 20px;

  cursor: pointer;

  text-align: center;

  vertical-align: middle;

  text-transform: uppercase;

  color: $white;
  border: none;
  background-color: $black;

  font: inherit;

  &:hover,
  &:focus {
    background-color: $medium-gray;
  }

  &:active {
    background-color: $brown;
  }

  &:disabled,
  &--disabled {
    pointer-events: none;

    opacity: 0.5;

    &:hover,
    &:focus,
    &:active {
      background-color: $black;
    }
  }

  &--type--wide {
    display: block;

    width: 100%;
  }

  &--type--icon {
    display: flex;
    align-items: center;

    justify-content: center;

    width: 43px;
    height: 43px;

    padding: 0;
  }

  &--type--icon-dark {
    background-color: $black;

    svg path {
      fill: $white;
    }

    &:hover,
    &:focus {
      background-color: $white;

      svg path {
        fill: $black;
      }
    }
  }

  // Сделано для тестирования переключения тем у компонентов
  // &--type--icon-light {
  //   background-color: #f8f5f2;

  //   svg path {
  //     fill: $black;
  //   }

  //   &:hover,
  //   &:focus {
  //     background-color: $black;

  //     svg path {
  //       fill: $white;
  //     }
  //   }
  // }
}
