.btn {
  display: inline-block;

  padding: 0;
  padding: 10px 33px;

  text-align: center;

  vertical-align: middle;

  text-transform: uppercase;

  color: $white;
  border: none;
  background-color: $black;

  font: inherit;

  &:hover,
  &:focus {
      background-color: $medium-gray;
  }

  &:active {
      background-color: $brown;
  }
}
