.site-menu {
  @include menu;
  @include reset-list;
  
  width: 580px;

}

.site-menu__link {
  @include menu-link;

  &--current {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;

      left: 21px;

      // display: block;

      width: 56px;
      height: 4px;

      content: '';

      background-color: $white;
    }
  }
}
